<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Snackbar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

	{% block stylesheets %}
	  {% stylesheets '@bootstrap_less' combine=true %}
	    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
	 {% endstylesheets %}
	{% endblock %}

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
  
  	



	{% block javascripts %}
	  {% javascripts '@jquery_js' '@bootstrap_js' filter='?yui_js' combine=true %}
	     <script src="{{ asset_url }}"></script>
	  {% endjavascripts %}
	{% endblock %}

  </body>
</html>
